<div class="container">
      <h1>Categories</h1>
      <div class="d-flex justify-content-end">
            <a class="btn btn-primary">Add Category</a>
      </div>
</div>

@if (categories.length) {
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Url Handle</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (category of categories; track category.id) {
            <tr>
              <td>{{ category.id }}</td>
              <td>{{ category.name }}</td>
              <td>{{ category.urlHandle }}</td>
              <td>
                <a class="btn btn-primary">Edit</a>
                <a class="btn btn-danger">Delete</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
